RewriteEngine On

# Redirect all requests to public/router.php (now located in /php)

# except existing files but without query-string

RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{QUERY_STRING} .+
RewriteRule ^(.*)$ router.php [QSA,L]
